<?php
/**
 * The base configuration for WordPress
 *
 * The wp-config.php creation script uses this file during the installation.
 * You don't have to use the web site, you can copy this file to "wp-config.php"
 * and fill in the values.
 *
 * This file contains the following configurations:
 *
 * * Database settings
 * * Secret keys
 * * Database table prefix
 * * ABSPATH
 *
 * @link https://wordpress.org/documentation/article/editing-wp-config-php/
 *
 * @package WordPress
 */

// ** Database settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define( 'DB_NAME', 'calvin' );

/** Database username */
define( 'DB_USER', 'user' );

/** Database password */
define( 'DB_PASSWORD', '*****' );

/** Database hostname */
define( 'DB_HOST', 'localhost' );

/** Database charset to use in creating database tables. */
define( 'DB_CHARSET', 'utf8mb4' );

/** The database collate type. Don't change this if in doubt. */
define( 'DB_COLLATE', '' );

/**#@+
 * Authentication unique keys and salts.
 *
 * Change these to different unique phrases! You can generate these using
 * the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}.
 *
 * You can change these at any point in time to invalidate all existing cookies.
 * This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
define( 'AUTH_KEY',         'QmdT:Uw~(#DeX!b:.eGVYiSyV+N.eTK z!XV>u;&XaGHPt|b?J4JkN$!&P;@~Naz' );
define( 'SECURE_AUTH_KEY',  '618N$NyF0hg.xxVrLW!#k08B?.tH3D/7c{ i6F:0T(0rqO+uOHGBo6$S^6 cP-vK' );
define( 'LOGGED_IN_KEY',    '$:4FIfQeP+:V<YlW~G]R&QKP:?T{`u)kVVIQr)lQJ.i;0J VAfX<z>D_1WoXaPj2' );
define( 'NONCE_KEY',        'nf14-2XVy+V)Tmh-N;=# nla+3B(MtKzWRvH~Y1#Jy_5o1?k9QCC%BKR<3{R6*8G' );
define( 'AUTH_SALT',        'k~kd{yG|+};n.uhCz>2#y7F(SbSO|4H&##d}KMx:03q?VS=Q|ZwhvSvvFxuX)X2?' );
define( 'SECURE_AUTH_SALT', '|E=jlm?J7j*C>ZMin[r,6t]1|pj9KEC~bcdqZzl9r2yKU?RAGB}^n$%+Y!Dq$2zd' );
define( 'LOGGED_IN_SALT',   '9$p@2dmyV&CGE/KeZ=+B+I@V7{B}{?ni=}D@A_,HTD]JfmO<n5IfEv3MJE>I&&Fj' );
define( 'NONCE_SALT',       'Af&yfpK3F=w9NqMtF^YQ)jG},y8Tf4p3kvj,zSlBi>uwpDo;Es54pa?b7l%vaw]f' );

/**#@-*/

/**
 * WordPress database table prefix.
 *
 * You can have multiple installations in one database if you give each
 * a unique prefix. Only numbers, letters, and underscores please!
 */
$table_prefix = 'wp_';

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 *
 * For information on other constants that can be used for debugging,
 * visit the documentation.
 *
 * @link https://wordpress.org/documentation/article/debugging-in-wordpress/
 */
define( 'WP_DEBUG', true );

/* Add any custom values between this line and the "stop editing" line. */



/* That's all, stop editing! Happy publishing. */

/** Absolute path to the WordPress directory. */
if ( ! defined( 'ABSPATH' ) ) {
	define( 'ABSPATH', __DIR__ . '/' );
}

/** Sets up WordPress vars and included files. */
require_once ABSPATH . 'wp-settings.php';

define( 'FS_METHOD', 'direct' );
